global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "alert_rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alertmanager:9093

scrape_configs:
  - job_name: "gin-sqlc-api"
    static_configs:
      - targets: ["host.docker.internal:8081"]
    metrics_path: "/metrics"
    scrape_interval: 5s
    scrape_timeout: 3s

  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
